ion-bubble {

	.container {
		display: flex;
		justify-content: flex-start;
	}

	.speech-bubble {
		max-width: 200px;
		border-radius: .4em;
		margin: 20px;
		background: #488aff;
		color: white;
		p {
			margin: 0;
			padding: 10px;
		}
	}

	.container-self {
		display: flex;
		justify-content: flex-end;
	}

	.speech-bubble-self {
		max-width: 200px;
		border-radius: .4em;
		margin: 20px;
		background: white;
		p {
			margin: 0;
			padding: 10px;
		}
	}
}