ion-bubble {
	.speech-bubble {
		position: relative;
		background: #488aff;
		border-radius: .4em;
		margin: 20px;

		p {
			color: white;
			padding: 10px;
		}
	}

	.speech-bubble-self {
		position: relative;
		background: white;
		border-radius: .4em;
		margin: 20px;

		p {
			border: 1px solid black;
			border-radius: .4em;
			padding: 10px;
		}
	}
}